*{
    box-sizing: border-box;
}

.boxdark{
    background-color: #333333;
    padding: 70px;
}

.boxlight{
    background-color: #e7e6e6;
    padding: 70px;
}

.btnlight{
    background-color: #F79C28;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btndark{
    background-color: #021949;
    color: #F7F7F7;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inputlight{
    border: none;
    padding: 10px;
    background-color: #fff;
    color: #000;
    outline: none;
}

.inputdark{
    border: none;
    padding: 10px;
    background-color: #414141;
    color: #fff;
    outline: none;
}

